/*
 * Windows resources for Pageant.
 */

#include "rcstuff.h"

#define APPNAME "Pageant"
#define APPDESC "PuTTY SSH 认证代理"

#include "pageant-rc.h"

#include "help.rc2"

IDI_MAINICON ICON "pageant.ico"
IDI_TRAYICON ICON "pageants.ico"

IDD_LOAD_PASSPHRASE DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: 载入加密的密钥"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "请输入要载入的密钥密码", IDC_PASSPHRASE_STATIC1, 10, 6, 120, 8
    CTEXT "", IDC_PASSPHRASE_FINGERPRINT, 10, 16, 120, 8
    EDITTEXT IDC_PASSPHRASE_EDITBOX, 10, 26, 120, 12,
        ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "确定(&K)", IDOK, 20, 42, 40, 14
    PUSHBUTTON "取消(&C)", IDCANCEL, 80, 42, 40, 14
END

IDD_ONDEMAND_PASSPHRASE DIALOG DISCARDABLE 0, 0, 250, 78
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: 解密保存的密钥"
FONT 8, "MS Shell Dlg"
BEGIN
    CTEXT "有 Pageant 客户端想要使用以下加密密钥：",
        IDC_PASSPHRASE_STATIC1, 10, 6, 230, 8
    CTEXT "", IDC_PASSPHRASE_FINGERPRINT, 10, 16, 230, 8
    CTEXT "如果确定是本人操作，请点击此框获取输入焦点后，",
        IDC_PASSPHRASE_STATIC2, 10, 26, 230, 8
    CTEXT "输入密码以解密密钥。",
        IDC_PASSPHRASE_STATIC3, 10, 34, 230, 8
    EDITTEXT IDC_PASSPHRASE_EDITBOX, 10, 44, 230, 12,
        ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "确定(&K)", IDOK, 45, 60, 40, 14
    PUSHBUTTON "取消(&C)", IDCANCEL, 105, 60, 40, 14
    PUSHBUTTON "帮助(&H)", IDHELP, 165, 60, 50, 14
END

IDD_KEYLIST DIALOG DISCARDABLE 0, 0, 450, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant 密钥列表"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX 100, 10, 10, 420, 155,
        LBS_EXTENDEDSEL | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "增加密钥(&A)", IDC_KEYLIST_ADDKEY, 10, 187, 60, 14
    PUSHBUTTON "增加加密的密钥(&E)", IDC_KEYLIST_ADDKEY_ENC, 75, 187, 80, 14
    PUSHBUTTON "重新加密(&N)", IDC_KEYLIST_REENCRYPT, 315, 187, 60, 14
    PUSHBUTTON "移除密钥(&R)", IDC_KEYLIST_REMOVE, 380, 187, 60, 14
    PUSHBUTTON "帮助(&H)", IDC_KEYLIST_HELP, 10, 212, 50, 14
    DEFPUSHBUTTON "关闭(&C)", IDOK, 390, 212, 50, 14
    LTEXT "指纹类型(&F)：", IDC_KEYLIST_FPTYPE_STATIC, 10, 172, 60, 8
    COMBOBOX IDC_KEYLIST_FPTYPE, 70, 170, 60, 12, CBS_DROPDOWNLIST
END

/* Accelerators used: cl */
IDD_ABOUT DIALOG DISCARDABLE 140, 40, 270, 136
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于 Pageant"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "关闭(&C)", IDOK, 216, 118, 48, 14
    PUSHBUTTON "查看许可证(&L)", IDC_ABOUT_LICENCE, 6, 118, 70, 14
    PUSHBUTTON "访问网站 (&W)", IDC_ABOUT_WEBSITE, 140, 118, 70, 14
    EDITTEXT IDC_ABOUT_TEXTBOX, 10, 6, 250, 110,
        ES_READONLY | ES_MULTILINE | ES_CENTER, WS_EX_STATICEDGE
END

/* No accelerators used */
IDD_LICENCE DIALOG DISCARDABLE 50, 50, 326, 239
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY 许可证"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "确定", IDOK, 148, 219, 44, 14

    EDITTEXT IDC_LICENCE_TEXTBOX, 10, 10, 306, 200,
        ES_READONLY | ES_MULTILINE | ES_LEFT, WS_EX_STATICEDGE
END

#include "version.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "pageant.mft"
#endif /* NO_MANIFESTS */
