#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "pterm"
#define APPDESC "PuTTY-style wrapper for Windows command prompts"

IDI_MAINICON ICON "pterm.ico"
IDI_CFGICON ICON "ptermcfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "putty.mft"
#endif /* NO_MANIFESTS */
