*.o
*.pyc
*.vcxproj
*.vcxproj.filters
.ninja_deps
.ninja_log
build.ninja
/CMakeCache.txt
CMakeFiles/
Debug/
Win32/
cmake_install.cmake
/shipped.txt
*.dir/
*.lib
.dirstamp
.deps
.DS_Store
/*.pdb
/*.ilk
/*.res
/*.RES
/*.pch
/*.rsp
/*.obj
/*.exe
/*.ncb
/*.plg
/*.dsw
/*.opt
/*.dsp
/*.sln
/*.tds
/*.td2
/*.map
/MSVC
/*.log
/*.GID
/local
/Output
/pageant
/plink
/pscp
/psftp
/putty
/puttytel
/puttygen
/pterm
/puttyapp
/ptermapp
/psusan
/osxlaunch
/uppity
/psocks
/unix/PuTTY.app
/unix/Pterm.app
/fuzzterm
/testcrypt
/testsc
/testzlib
/cgtest
/scctest
/test_host_strfoo
/test_tree234
/test_wildcard
/*.DSA
/*.RSA
/*.cnt
/*.hlp
/.bmake
/build.log
/build.out
/empty.h
Makefile
/compile
*.a
/charset/sbcsdat.c
/contrib/cygtermd/cygtermd.exe
/doc/*.html
/doc/*.txt
/doc/*.cnt
/doc/*.hlp
/doc/*.gid
/doc/*.GID
/doc/*.chm
/doc/*.log
/doc/*.1
/doc/*.info
/doc/vstr.but
/doc/*.hhp
/doc/*.hhc
/doc/*.hhk
/doc/licence.but
/doc/copy.but
/icons/*.pam
/icons/*.png
/icons/*.ico
/icons/*.icns
/icons/*.xpm
/icons/*.c
/unix/empty.h
/unix/plink
/unix/pterm
/unix/putty
/unix/puttytel
/unix/psftp
/unix/pscp
/unix/puttygen
/unix/stamp-h1
/unix/*.log
/unix/.deps
/windows/*.pdb
/windows/*.ilk
/windows/*.res
/windows/*.RES
/windows/*.pch
/windows/*.rsp
/windows/*.obj
/windows/*.exe
/windows/*.ncb
/windows/*.plg
/windows/*.dsw
/windows/*.opt
/windows/*.dsp
/windows/*.tds
/windows/*.td2
/windows/*.map
/windows/*.rcpp
/windows/*.log
/windows/*.GID
/windows/local
/windows/Output
/windows/*.DSA
/windows/*.RSA
/windows/*.cnt
/windows/*.hlp
/windows/.bmake
/windows/*.sln
/windows/*.suo
/windows/*.msi
/windows/*.wixobj
/windows/*.wixpdb
