*.o
*.pyc
.dirstamp
.deps
.DS_Store
/*.pdb
/*.ilk
/*.res
/*.RES
/*.pch
/*.rsp
/*.obj
/*.exe
/*.ncb
/*.plg
/*.dsw
/*.opt
/*.dsp
/*.tds
/*.td2
/*.map
/Makefile.mgw
/Makefile.vc
/Makefile.lcc
/MSVC
/*.log
/*.GID
/local
/Output
/pageant
/plink
/pscp
/psftp
/putty
/puttytel
/puttygen
/pterm
/puttyapp
/ptermapp
/psusan
/osxlaunch
/uppity
/psocks
/unix/PuTTY.app
/unix/Pterm.app
/fuzzterm
/testcrypt
/testsc
/testzlib
/cgtest
/scctest
/*.DSA
/*.RSA
/*.cnt
/*.hlp
/.bmake
/build.log
/build.out
/uxconfig.h
/empty.h
/config.status
/Makefile.am
/Makefile.in
/Makefile
/compile
/config.status
/configure
/stamp-h1
/aclocal.m4
/ar-lib
/autom4te.cache
/depcomp
/install-sh
/local
/missing
/uxconfig.in
/uxconfig.in~
/uxconfig.h
/licence.h
/*.a
/charset/sbcsdat.c
/contrib/cygtermd/cygtermd.exe
/doc/*.html
/doc/*.txt
/doc/*.cnt
/doc/*.hlp
/doc/*.gid
/doc/*.GID
/doc/*.chm
/doc/*.log
/doc/*.1
/doc/*.info
/doc/vstr.but
/doc/*.hhp
/doc/*.hhc
/doc/*.hhk
/doc/licence.but
/doc/copy.but
/icons/*.pam
/icons/*.png
/icons/*.ico
/icons/*.icns
/icons/*.xpm
/icons/*.c
/unix/Makefile.gtk
/unix/Makefile.ux
/unix/Makefile.local
/unix/empty.h
/unix/plink
/unix/pterm
/unix/putty
/unix/puttytel
/unix/psftp
/unix/pscp
/unix/puttygen
/unix/stamp-h1
/unix/*.log
/unix/.deps
/windows/*.pdb
/windows/*.ilk
/windows/*.res
/windows/*.RES
/windows/*.pch
/windows/*.rsp
/windows/*.obj
/windows/*.exe
/windows/*.ncb
/windows/*.plg
/windows/*.dsw
/windows/*.opt
/windows/*.dsp
/windows/*.tds
/windows/*.td2
/windows/*.map
/windows/*.rcpp
/windows/Makefile.clangcl
/windows/Makefile.mgw
/windows/Makefile.vc
/windows/Makefile.lcc
/windows/MSVC
/windows/DEVCPP
/windows/VS2010
/windows/VS2012
/windows/*.log
/windows/*.GID
/windows/local
/windows/Output
/windows/*.DSA
/windows/*.RSA
/windows/*.cnt
/windows/*.hlp
/windows/.bmake
/windows/*.sln
/windows/*.suo
/windows/*.msi
/windows/*.wixobj
/windows/*.wixpdb
