/* Some compilers, like Borland, don't have winresrc.h */
#ifndef NO_WINRESRC_H
#include <winresrc.h>
#endif

200 ICON "pageant.ico"
201 ICON "pageants.ico"

210 DIALOG DISCARDABLE 0, 0, 140, 60
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant: Enter Passphrase"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT "Enter passphrase for key", 100, 10, 6, 120, 8
    CTEXT "", 101, 10, 16, 120, 8
    EDITTEXT 102, 10, 26, 120, 12, ES_PASSWORD
    DEFPUSHBUTTON "O&K", IDOK, 20, 42, 40, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 80, 42, 40, 14
END

211 DIALOG DISCARDABLE 0, 0, 300, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pageant Key List"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX 100, 10, 10, 280, 155,
        LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Add Key", 101, 60, 162, 60, 14
    PUSHBUTTON "&Remove Key", 102, 180, 162, 60, 14
    DEFPUSHBUTTON "&Close", IDOK, 240, 182, 50, 14
END
