/* Some compilers, like Borland, don't have winresrc.h */
#ifndef NO_WINRESRC_H
#include <winresrc.h>
#endif

/* Some systems don't define this, so I do it myself if necessary */
#ifndef TCS_MULTILINE
#define TCS_MULTILINE 0x0200
#endif

#include "win_res.h"

IDI_MAINICON ICON "putty.ico"

IDD_ABOUTBOX DIALOG DISCARDABLE 140, 40, 136, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About PuTTY"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 82, 52, 48, 14
    PUSHBUTTON "View &Licence", IDA_LICENCE, 6, 52, 70, 14
    CTEXT "PuTTY", IDA_TEXT1, 10, 6, 120, 8
    CTEXT "", IDA_VERSION, 10, 16, 120, 16
    CTEXT "\251 1997-9 Simon Tatham. All rights reserved.",
          IDA_TEXT2, 10, 34, 120, 16
END

IDD_MAINBOX DIALOG DISCARDABLE 0, 0, 180, 216
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Open", IDOK, 86, 199, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 133, 199, 44, 14
    PUSHBUTTON "&About", IDC_ABOUT, 3, 199, 44, 14, NOT WS_TABSTOP
    CONTROL "", IDC_TAB,
#ifdef ASCIICTLS
        "SysTabControl32",
#else
        L"SysTabControl32",
#endif
	TCS_MULTILINE | WS_TABSTOP, 3, 3, 174, 193
END

IDD_RECONF DIALOG DISCARDABLE 0, 0, 180, 216
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Reconfiguration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Apply", IDOK, 86, 199, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 133, 199, 44, 14
    CONTROL "", IDC_TAB,
#ifdef ASCIICTLS
        "SysTabControl32",
#else
        L"SysTabControl32",
#endif
	TCS_MULTILINE | WS_TABSTOP, 3, 3, 174, 193
END

IDD_PANEL0 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Host &Name", IDC0_HOSTSTATIC, 3, 3, 122, 8
    EDITTEXT IDC0_HOST, 3, 11, 122, 12, ES_AUTOHSCROLL
    LTEXT "&Port", IDC0_PORTSTATIC, 131, 3, 34, 8
    EDITTEXT IDC0_PORT, 131, 11, 34, 12
#ifdef FWHACK
    RTEXT "Protocol:", IDC0_PROTSTATIC, 3, 29, 42, 8
    AUTORADIOBUTTON "&Raw", IDC0_PROTRAW, 51, 29, 33, 10, WS_GROUP
    AUTORADIOBUTTON "&Telnet", IDC0_PROTTELNET, 86, 29, 33, 10
    AUTORADIOBUTTON "SS&H/hack", IDC0_PROTSSH, 122, 29, 43, 10
#else
    RTEXT "Protocol:", IDC0_PROTSTATIC, 3, 29, 52, 8
    AUTORADIOBUTTON "&Raw", IDC0_PROTRAW, 61, 29, 33, 10, WS_GROUP
    AUTORADIOBUTTON "&Telnet", IDC0_PROTTELNET, 96, 29, 33, 10
    AUTORADIOBUTTON "SS&H", IDC0_PROTSSH, 132, 29, 33, 10
#endif
    LTEXT "Stor&ed Sessions", IDC0_SESSSTATIC, 3, 40, 122, 8
    EDITTEXT IDC0_SESSEDIT, 3, 48, 122, 12, ES_AUTOHSCROLL
    LISTBOX IDC0_SESSLIST, 3, 63, 122, 81,
        LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Load", IDC0_SESSLOAD, 131, 63, 34, 14
    PUSHBUTTON "&Save", IDC0_SESSSAVE, 131, 80, 34, 14
    PUSHBUTTON "&Delete", IDC0_SESSDEL, 131, 97, 34, 14
    AUTOCHECKBOX "Close &Window on Exit", IDC0_CLOSEEXIT, 3, 147, 91, 10
    AUTOCHECKBOX "Warn on C&lose", IDC0_CLOSEWARN, 96, 147, 69, 10
END

IDD_PANEL1 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Action of Backspace:", IDC1_DELSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "Control-&H", IDC1_DEL008, 3, 12, 50, 10, WS_GROUP
    AUTORADIOBUTTON "Control-&? (127)", IDC1_DEL127, 62, 12, 100, 10
    LTEXT "Action of Home and End:", IDC1_HOMESTATIC, 3, 25, 162, 8
    AUTORADIOBUTTON "&Standard",
	IDC1_HOMETILDE, 3, 34, 50, 10, WS_GROUP
    AUTORADIOBUTTON "&rxvt",
	IDC1_HOMERXVT, 62, 34, 50, 10
    LTEXT "Action of F1 through F5:", IDC1_FUNCSTATIC, 3, 47, 162, 8
    AUTORADIOBUTTON "S&tandard",
	IDC1_FUNCTILDE, 3, 56, 50, 10, WS_GROUP
    AUTORADIOBUTTON "&Linux console",
	IDC1_FUNCLINUX, 62, 56, 100, 10
    LTEXT "Initial state of cursor keys:", IDC1_CURSTATIC, 3, 69, 162, 8
    AUTORADIOBUTTON "&Normal",
	IDC1_CURNORMAL, 3, 78, 50, 10, WS_GROUP
    AUTORADIOBUTTON "A&pplication",
	IDC1_CURAPPLIC, 62, 78, 50, 10
    LTEXT "Initial state of numeric keypad:", IDC1_KPSTATIC, 3, 91, 162, 8
    AUTORADIOBUTTON "Nor&mal",
	IDC1_KPNORMAL, 3, 100, 50, 10, WS_GROUP
    AUTORADIOBUTTON "Appl&ication",
	IDC1_KPAPPLIC, 62, 100, 50, 10
    AUTORADIOBUTTON "N&etHack",
	IDC1_KPNH, 121, 100, 50, 10
    AUTOCHECKBOX "ALT-F&4 is special (closes window)",
        IDC1_ALTF4, 3, 113, 162, 10
    AUTOCHECKBOX "ALT-Space is special (S&ystem menu)",
        IDC1_ALTSPACE, 3, 123, 162, 10
    AUTOCHECKBOX "&Use local terminal line discipline",
        IDC1_LDISCTERM, 3, 133, 162, 10
END

IDD_PANEL2 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX "Auto &wrap mode initially on", IDC2_WRAPMODE, 3, 3, 162, 10
    AUTOCHECKBOX "&DEC Origin Mode initially on", IDC2_DECOM, 3, 13, 162, 10
    AUTOCHECKBOX "Avoid ever using &icon title", IDC2_WINNAME, 3, 23, 162, 10
    AUTOCHECKBOX "Implicit CR in every &LF", IDC2_LFHASCR, 3, 33, 162, 10
    LTEXT "Terminal screen dimensions:", IDC2_DIMSTATIC, 3, 48, 162, 8
    RTEXT "&Rows", IDC2_ROWSSTATIC, 10, 59, 32, 8
    EDITTEXT IDC2_ROWSEDIT, 50, 57, 30, 12
    RTEXT "&Columns", IDC2_COLSSTATIC, 95, 59, 32, 8
    EDITTEXT IDC2_COLSEDIT, 135, 57, 30, 12
    RTEXT "&Saved lines of scrollback", IDC2_SAVESTATIC, 20, 74, 107, 8
    EDITTEXT IDC2_SAVEEDIT, 135, 72, 30, 12
    LTEXT "Font:", IDC2_FONTSTATIC, 3, 93, 99, 8
    PUSHBUTTON "C&hange...", IDC2_CHOOSEFONT, 105, 90, 60, 14
    LTEXT "Handling of VT100 line drawing characters:",IDC2_VTSTATIC, 3, 111, 162, 8
    AUTORADIOBUTTON "Font has &XWindows encoding",
	IDC2_VTXWINDOWS, 3, 120, 162, 10, WS_GROUP
    AUTORADIOBUTTON "Use font in &both ANSI and OEM modes",
	IDC2_VTOEMANSI, 3, 130, 162, 10
    AUTORADIOBUTTON "Use font in O&EM mode only",
	IDC2_VTOEMONLY, 3, 140, 162, 10
    AUTORADIOBUTTON "&Poor man's line drawing (""+"", ""-"" and ""|"")",
	IDC2_VTPOORMAN, 3, 150, 162, 10
END

IDD_PANEL3 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Terminal-&type string", IDC3_TTSTATIC, 3, 5, 90, 8
    EDITTEXT IDC3_TTEDIT, 96, 3, 69, 12, ES_AUTOHSCROLL
    LTEXT "Terminal-&speed string", IDC3_TSSTATIC, 3, 20, 90, 8
    EDITTEXT IDC3_TSEDIT, 96, 18, 69, 12, ES_AUTOHSCROLL
    LTEXT "Auto-login &username", IDC3_LOGSTATIC, 3, 35, 90, 8
    EDITTEXT IDC3_LOGEDIT, 96, 33, 69, 12, ES_AUTOHSCROLL
    LTEXT "Environment variables:", IDC3_ENVSTATIC, 3, 53, 162, 8
    LTEXT "&Variable", IDC3_VARSTATIC, 3, 70, 29, 8
    EDITTEXT IDC3_VAREDIT, 35, 68, 35, 12, ES_AUTOHSCROLL
    LTEXT "Va&lue", IDC3_VALSTATIC, 76, 70, 19, 8
    EDITTEXT IDC3_VALEDIT, 98, 68, 67, 12, ES_AUTOHSCROLL
    LISTBOX IDC3_ENVLIST, 3, 85, 122, 55,
	LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "A&dd", IDC3_ENVADD, 131, 85, 34, 14
    PUSHBUTTON "&Remove", IDC3_ENVREMOVE, 131, 102, 34, 14
    LTEXT "ENVIRON interpretation:", IDC3_EMSTATIC, 3, 147, 90, 8
    AUTORADIOBUTTON "&BSD", IDC3_EMBSD, 96, 147, 33, 10, WS_GROUP
    AUTORADIOBUTTON "R&FC", IDC3_EMRFC, 132, 147, 33, 10
END

IDD_PANEL35 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Terminal-&type string", IDC3_TTSTATIC, 3, 5, 90, 8
    EDITTEXT IDC3_TTEDIT, 96, 3, 69, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX "Don't allocate a &pseudo-terminal", IDC3_NOPTY,
	3, 19, 162, 10
    LTEXT "Auto-login &username", IDC3_LOGSTATIC, 3, 35, 90, 8
    EDITTEXT IDC3_LOGEDIT, 96, 33, 69, 12, ES_AUTOHSCROLL
    LTEXT "Cipher:", IDC3_CIPHERSTATIC, 3, 50, 40, 8
    AUTORADIOBUTTON "&3DES", IDC3_CIPHER3DES, 46, 50, 35, 10, WS_GROUP
    AUTORADIOBUTTON "&Blowfish", IDC3_CIPHERBLOWF, 84, 50, 40, 10
    AUTORADIOBUTTON "&DES", IDC3_CIPHERDES, 127, 50, 30, 10
    AUTOCHECKBOX "Attempt TIS authentication", IDC3_AUTHTIS, 3, 60, 162, 10
END

IDD_PANEL4 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Action of mouse buttons:", IDC4_MBSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "&Windows (Right pastes, Middle extends)",
	IDC4_MBWINDOWS, 3, 12, 162, 10, WS_GROUP
    AUTORADIOBUTTON "&xterm (Right extends, Middle pastes)",
	IDC4_MBXTERM, 3, 22, 162, 10
    LTEXT "Character classes:", IDC4_CCSTATIC, 3, 35, 162, 8
    LISTBOX IDC4_CCLIST, 3, 45, 162, 96,
	LBS_HASSTRINGS | WS_VSCROLL | LBS_USETABSTOPS |	LBS_MULTIPLESEL | WS_TABSTOP
    PUSHBUTTON "&Set", IDC4_CCSET, 33, 145, 34, 14
    LTEXT "&to class", IDC4_CCSTATIC2, 73, 148, 26, 8
    EDITTEXT IDC4_CCEDIT, 105, 146, 36, 12
END

IDD_PANEL5 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
    AUTOCHECKBOX "&Bolded text is a different colour", IDC5_BOLDCOLOUR,3, 10, 162, 10
    AUTOCHECKBOX "Attempt to use &logical palettes", IDC5_PALETTE, 3, 25, 162, 10
    LTEXT "C&olours:", IDC5_STATIC, 3, 40, 162, 8
    LISTBOX IDC5_LIST, 3, 50, 100, 110,
        LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT "Red:", IDC5_RSTATIC, 109, 50, 27, 8
    RTEXT "", IDC5_RVALUE, 138, 50, 27, 8
    LTEXT "Green:", IDC5_GSTATIC, 109, 58, 27, 8
    RTEXT "", IDC5_GVALUE, 138, 58, 27, 8
    LTEXT "Blue:", IDC5_BSTATIC, 109, 66, 27, 8
    RTEXT "", IDC5_BVALUE, 138, 66, 27, 8
    PUSHBUTTON "C&hange...", IDC5_CHANGE, 109, 140, 56, 14
END

IDD_PANEL6 DIALOG DISCARDABLE  6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT "Character set translation:", IDC6_XLATSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "&None",
	IDC6_NOXLAT, 3, 12, 162, 10, WS_GROUP
    AUTORADIOBUTTON "&KOI8 / Win-1251",
	IDC6_KOI8WIN1251, 3, 22, 162, 10
    AUTORADIOBUTTON "&ISO-8859-2 / Win-1250",
	IDC6_88592WIN1250, 3, 32, 162, 10
    AUTOCHECKBOX "CA&PS LOCK acts as cyrillic switch",
        IDC6_CAPSLOCKCYR, 3, 46, 162, 10
END

IDD_LOGBOX DIALOG DISCARDABLE 100, 20, 160, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Event Log"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 58, 102, 44, 14
    LISTBOX IDN_LIST, 3, 3, 154, 95, LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL
END

IDD_LICENCEBOX DIALOG DISCARDABLE 50, 50, 226, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 98, 211, 44, 14

    LTEXT "Copyright \251 1997-9 Simon Tatham", 1000, 10, 10, 206, 8
    LTEXT "Portions copyright Gary S. Brown and Eric Young", 1100, 10, 18, 206, 8

    LTEXT "Permission is hereby granted, free of charge, to any person", 1002, 10, 34, 206, 8
    LTEXT "obtaining a copy of this software and associated documentation", 1003, 10, 42, 206, 8
    LTEXT "files (the ""Software""), to deal in the Software without restriction,", 1004, 10, 50, 206, 8
    LTEXT "including without limitation the rights to use, copy, modify, merge,", 1005, 10, 58, 206, 8
    LTEXT "publish, distribute, sublicense, and/or sell copies of the Software,", 1006, 10, 66, 206, 8
    LTEXT "and to permit persons to whom the Software is furnished to do so,", 1007, 10, 74, 206, 8
    LTEXT "subject to the following conditions:", 1008, 10, 82, 206, 8

    LTEXT "The above copyright notice and this permission notice shall be", 1010, 10, 98, 206, 8
    LTEXT "included in all copies or substantial portions of the Software.", 1011, 10, 106, 206, 8

    LTEXT "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT", 1013, 10, 122, 206, 8
    LTEXT "WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,", 1014, 10, 130, 206, 8
    LTEXT "INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF", 1015, 10, 138, 206, 8
    LTEXT "MERCHANTABILITY, FITNESS FOR A PARTICULAR", 1016, 10, 146, 206, 8
    LTEXT "PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL", 1017, 10, 154, 206, 8
    LTEXT "SIMON TATHAM BE LIABLE FOR ANY CLAIM, DAMAGES OR", 1018, 10, 162, 206, 8
    LTEXT "OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,", 1019, 10, 170, 206, 8
    LTEXT "TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN", 1020, 10, 178, 206, 8
    LTEXT "CONNECTION WITH THE SOFTWARE OR THE USE OR", 1021, 10, 186, 206, 8
    LTEXT "OTHER DEALINGS IN THE SOFTWARE.", 1022, 10, 194, 206, 8

END
