/* Some compilers, like Borland, don't have winresrc.h */
#ifndef NO_WINRESRC_H
#include <winresrc.h>
#endif

/* Some systems don't define this, so I do it myself if necessary */
#ifndef TCS_MULTILINE
#define TCS_MULTILINE 0x0200
#endif

#ifdef MINGW32_FIX
#define EDITTEXT     EDITTEXT "",
#endif

#include "win_res.h"

IDI_MAINICON ICON "putty.ico"

/* Accelerators used: cl */
IDD_ABOUTBOX DIALOG DISCARDABLE 140, 40, 136, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About PuTTY"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 82, 52, 48, 14
    PUSHBUTTON "View &Licence", IDA_LICENCE, 6, 52, 70, 14
    CTEXT "PuTTY", IDA_TEXT1, 10, 6, 120, 8
    CTEXT "", IDA_VERSION, 10, 16, 120, 16
    CTEXT "\251 1997-2000 Simon Tatham. All rights reserved.",
          IDA_TEXT2, 10, 34, 120, 16
END

/* Accelerators used: aco */
IDD_MAINBOX DIALOG DISCARDABLE 0, 0, 180, 216
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Configuration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Open", IDOK, 86, 199, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 133, 199, 44, 14
    PUSHBUTTON "&About", IDC_ABOUT, 3, 199, 44, 14, NOT WS_TABSTOP
    CONTROL "", IDC_TAB,
#ifdef ASCIICTLS
        "SysTabControl32",
#else
        L"SysTabControl32",
#endif
	TCS_MULTILINE | WS_TABSTOP, 3, 3, 174, 193
END

/* Accelerators used: ac */
IDD_RECONF DIALOG DISCARDABLE 0, 0, 180, 216
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Reconfiguration"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Apply", IDOK, 86, 199, 44, 14
    PUSHBUTTON "&Cancel", IDCANCEL, 133, 199, 44, 14
    CONTROL "", IDC_TAB,
#ifdef ASCIICTLS
        "SysTabControl32",
#else
        L"SysTabControl32",
#endif
	TCS_MULTILINE | WS_TABSTOP, 3, 3, 174, 193
END

/* Accelerators used: [aco] dehlnprstwx */
IDD_PANEL0 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
 
BEGIN
    
    LTEXT "Host &Name", IDC0_HOSTSTATIC, 3, 3, 119, 8
    EDITTEXT IDC0_HOST,  3, 11, 119, 12, ES_AUTOHSCROLL
    LTEXT "&Port", IDC0_PORTSTATIC, 129, 3, 35, 8
    EDITTEXT IDC0_PORT,  129, 11, 35, 12
    
    
#ifdef FWHACK
    RTEXT "Protocol:", IDC0_PROTSTATIC, 3, 27, 35, 8
    AUTORADIOBUTTON "&Raw", IDC0_PROTRAW, 45, 27, 35, 8, WS_GROUP
    AUTORADIOBUTTON "&Telnet", IDC0_PROTTELNET, 87, 27, 35, 8
    AUTORADIOBUTTON "SS&H/hack", IDC0_PROTSSH, 129, 27, 35, 8
#else
    RTEXT "Protocol:", IDC0_PROTSTATIC, 3, 27, 35, 8
    AUTORADIOBUTTON "&Raw", IDC0_PROTRAW, 45, 27, 35, 8, WS_GROUP
    AUTORADIOBUTTON "&Telnet", IDC0_PROTTELNET, 87, 27, 35, 8
#ifndef NO_SSH
    AUTORADIOBUTTON "SS&H", IDC0_PROTSSH, 129, 27, 35, 8
#endif
#endif
    
    
    LTEXT "Stor&ed Sessions", IDC0_SESSSTATIC, 3, 37, 162, 8
    
    EDITTEXT IDC0_SESSEDIT, 3, 45, 119, 12, ES_AUTOHSCROLL
    
    
    LISTBOX IDC0_SESSLIST, 3, 59, 119, 71,
        LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    
    PUSHBUTTON "&Load",  IDC0_SESSLOAD, 129, 59,  35, 14
    PUSHBUTTON "&Save",  IDC0_SESSSAVE, 129, 76,  35, 14
    PUSHBUTTON "&Delete", IDC0_SESSDEL, 129, 93,  35, 14
    

    
    AUTOCHECKBOX "Close Window on E&xit", IDC0_CLOSEEXIT, 3, 130, 162, 8
    AUTOCHECKBOX "&Warn on Close", IDC0_CLOSEWARN, 3, 140, 162, 8
END

/* Accelerators used: [aco] 4?ehiklmnprsuvxy */
IDD_PANEL1 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
  
BEGIN
    LTEXT "Action of Backspace:", IDC1_DELSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "Control-&H", IDC1_DEL008, 3, 13, 49, 8, WS_GROUP
    AUTORADIOBUTTON "Control-&? (127)", IDC1_DEL127, 59, 13, 105, 8
    
    LTEXT "Action of Home and End:", IDC1_HOMESTATIC, 3, 25, 162, 8
    AUTORADIOBUTTON "&Standard", IDC1_HOMETILDE, 3, 35, 49, 8, WS_GROUP
    AUTORADIOBUTTON "&rxvt", IDC1_HOMERXVT, 59, 35, 49, 8
    
    LTEXT "Function key and keypad layout:", IDC1_FUNCSTATIC, 3, 47, 162, 8
    AUTORADIOBUTTON "&VT400", IDC1_FUNCTILDE, 3, 57, 49, 8, WS_GROUP
    AUTORADIOBUTTON "&Linux", IDC1_FUNCLINUX, 59, 57, 49, 8
    AUTORADIOBUTTON "&Xterm R6", IDC1_FUNCXTERM, 115, 57, 49, 8
    
    LTEXT "Initial state of cursor keys:", IDC1_CURSTATIC, 3, 69, 162, 8
    AUTORADIOBUTTON "&Normal", IDC1_CURNORMAL, 3, 79, 49, 8, WS_GROUP
    AUTORADIOBUTTON "A&pplication", IDC1_CURAPPLIC, 59, 79, 49, 8
    
    LTEXT "Initial state of numeric keypad:", IDC1_KPSTATIC, 3, 91, 162, 8
    AUTORADIOBUTTON "Nor&mal", IDC1_KPNORMAL, 3, 101, 49, 8, WS_GROUP
    AUTORADIOBUTTON "Appl&ication", IDC1_KPAPPLIC, 59, 101, 49, 8
    AUTORADIOBUTTON "N&etHack", IDC1_KPNH, 115, 101, 49, 8
    
    AUTOCHECKBOX "ALT-F&4 is special (closes window)", IDC1_ALTF4, 3, 113, 162, 8
    AUTOCHECKBOX "ALT-Space is special (S&ystem menu)", IDC1_ALTSPACE, 3, 123, 162, 8
    AUTOCHECKBOX "&Use local terminal line discipline", IDC1_LDISCTERM, 3, 133, 162, 8
    AUTOCHECKBOX "Reset scrollback on &keypress", IDC1_SCROLLKEY, 3, 143, 162, 8
END

/* Accelerators used: [aco] bdghiklmnprswy */
IDD_PANEL2 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
  
BEGIN
    
    LTEXT "Terminal screen dimensions:", IDC2_DIMSTATIC, 3, 3, 162, 8
    
    RTEXT "&Rows", IDC2_ROWSSTATIC,  3, 15, 35, 8
    EDITTEXT IDC2_ROWSEDIT, 45, 13, 35, 12
    RTEXT "Colu&mns", IDC2_COLSSTATIC,  87, 15, 35, 8 
    EDITTEXT IDC2_COLSEDIT, 129, 13, 35, 12
    
    RTEXT "&Saved lines of scrollback", IDC2_SAVESTATIC,  3, 30, 119, 8
    EDITTEXT IDC2_SAVEEDIT, 129, 28, 35, 12
    
    
    RTEXT "Font:", IDC2_FONTSTATIC,  3, 48, 105, 8
    
    PUSHBUTTON "C&hange...", IDC2_CHOOSEFONT, 115, 45, 49, 14
    
    
    AUTOCHECKBOX "Auto &wrap mode initially on", IDC2_WRAPMODE, 3, 62, 162, 8
    AUTOCHECKBOX "&DEC Origin Mode initially on", IDC2_DECOM, 3, 72, 162, 8
    AUTOCHECKBOX "Avoid ever using &icon title", IDC2_WINNAME, 3, 82, 162, 8
    AUTOCHECKBOX "Implicit CR in every &LF", IDC2_LFHASCR, 3, 92, 162, 8
    AUTOCHECKBOX "&Blinking cursor", IDC1_BLINKCUR, 3, 102, 162, 8
    AUTOCHECKBOX "Bee&p enabled", IDC1_BEEP, 3, 112, 162, 8
    AUTOCHECKBOX "Displa&y scrollbar", IDC2_SCROLLBAR, 3, 122, 162, 8
    AUTOCHECKBOX "Loc&k Window size", IDC2_LOCKSIZE, 3, 132, 162, 8
    AUTOCHECKBOX "Use Back&ground colour erase", IDC2_BCE, 3, 142, 162, 8
    AUTOCHECKBOX "Enable bli&nking text", IDC2_BLINKTEXT, 3, 152, 162, 8
    
    
    
END

/* Accelerators used: [aco] bdflrstuv */
IDD_PANEL3 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
  
BEGIN
    
    LTEXT "Terminal-&type string", IDC3_TTSTATIC,  3, 5, 77, 8
    EDITTEXT IDC3_TTEDIT, 87, 3, 77, 12, ES_AUTOHSCROLL
    
    LTEXT "Terminal-&speed string", IDC3_TSSTATIC,  3, 19, 77, 8
    EDITTEXT IDC3_TSEDIT, 87, 17, 77, 12, ES_AUTOHSCROLL
    
    LTEXT "Auto-login &username", IDC3_LOGSTATIC,  3, 33, 77, 8
    EDITTEXT IDC3_LOGEDIT, 87, 31, 77, 12, ES_AUTOHSCROLL
    
    
    
    LTEXT "Environment variables:", IDC3_ENVSTATIC, 3, 53, 162, 8
    
    LTEXT "&Variable", IDC3_VARSTATIC,  3, 65, 26, 8
    EDITTEXT IDC3_VAREDIT, 36, 63, 26, 12, ES_AUTOHSCROLL
    LTEXT "Va&lue", IDC3_VALSTATIC,  70, 65, 26, 8
    EDITTEXT IDC3_VALEDIT, 104, 63, 59, 12, ES_AUTOHSCROLL
    
    
    
    LISTBOX IDC3_ENVLIST, 3, 81, 119, 55,
	LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL | WS_TABSTOP
    
    PUSHBUTTON "A&dd", IDC3_ENVADD, 129, 81,  35, 14
    PUSHBUTTON "&Remove", IDC3_ENVREMOVE, 129, 98,  35, 14
    

    
    LTEXT "ENVIRON interpretation:", IDC3_EMSTATIC, 3, 136, 77, 8
    AUTORADIOBUTTON "&BSD", IDC3_EMBSD, 87, 136, 35, 8, WS_GROUP
    AUTORADIOBUTTON "R&FC", IDC3_EMRFC, 129, 136, 35, 8
    
END

/* Accelerators used: [aco] 123abdhkmptu */
IDD_PANEL35 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
  
BEGIN
    
    LTEXT "Terminal-&type string", IDC3_TTSTATIC,  3, 5, 77, 8
    EDITTEXT IDC3_TTEDIT, 87, 3, 77, 12, ES_AUTOHSCROLL
    
    
    AUTOCHECKBOX "Don't allocate a &pseudo-terminal", IDC3_NOPTY, 3, 19, 162, 8
    
    LTEXT "Auto-login &username", IDC3_LOGSTATIC,  3, 31, 77, 8
    EDITTEXT IDC3_LOGEDIT, 87, 29, 77, 12, ES_AUTOHSCROLL
    
    
    LTEXT "Cipher:", IDC3_CIPHERSTATIC, 3, 45, 23, 8
    AUTORADIOBUTTON "&3DES", IDC3_CIPHER3DES, 33, 45, 38, 8, WS_GROUP
    AUTORADIOBUTTON "&Blowfish", IDC3_CIPHERBLOWF, 79, 45, 38, 8, WS_GROUP
    AUTORADIOBUTTON "&DES", IDC3_CIPHERDES, 125, 45, 38, 8
    
    
    AUTOCHECKBOX "Atte&mpt TIS or CryptoCard authentication", IDC3_AUTHTIS, 3, 55, 162, 8
    
    
    LTEXT "Prefer protocol version:", IDC3_SSHPROTSTATIC, 3, 75, 105, 8
    AUTORADIOBUTTON "&1", IDC3_SSHPROT1, 115, 75, 21, 8, WS_GROUP
    AUTORADIOBUTTON "&2", IDC3_SSHPROT2, 143, 75, 21, 8
    
    
    LTEXT "Public &key file:", IDC3_PKSTATIC, 3, 85, 119, 8
    EDITTEXT IDC3_PKEDIT,  3, 93, 119, 12, ES_AUTOHSCROLL
    
    PUSHBUTTON "C&hange...", IDC3_PKBUTTON,  129, 93, 35, 12
    
    
    AUTOCHECKBOX "Allow &agent forwarding", IDC3_AGENTFWD, 3, 109, 162, 8
END

/* Accelerators used: [aco] stwx */
IDD_PANEL4 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
 
BEGIN
    
    LTEXT "Action of mouse buttons:", IDC4_MBSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "&Windows (Right pastes, Middle extends)",
	IDC4_MBWINDOWS, 3, 13, 162, 8, WS_GROUP
    AUTORADIOBUTTON "&xterm (Right extends, Middle pastes)",
	IDC4_MBXTERM, 3, 23, 162, 8
    
    LTEXT "Character classes:", IDC4_CCSTATIC, 3, 37, 162, 8
    
    LISTBOX IDC4_CCLIST, 3, 47, 162, 96,
	LBS_HASSTRINGS | WS_VSCROLL | LBS_USETABSTOPS |	LBS_MULTIPLESEL | WS_TABSTOP
    
    PUSHBUTTON "&Set", IDC4_CCSET, 33, 147, 34, 14
    LTEXT "&to class", IDC4_CCSTATIC2, 73, 147+3, 26, 8
    EDITTEXT IDC4_CCEDIT, 105, 147+1, 36, 12
    
END

/* Accelerators used: [aco] bhlu */
IDD_PANEL5 DIALOG DISCARDABLE 6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE | NOT WS_BORDER
FONT 8, "MS Sans Serif"
 
BEGIN
    
    AUTOCHECKBOX "&Bolded text is a different colour", IDC5_BOLDCOLOUR, 3, 3, 162, 8
    
    AUTOCHECKBOX "Attempt to use &logical palettes", IDC5_PALETTE, 3, 19, 162, 8
    
    LTEXT "Colo&urs:", IDC5_STATIC, 3, 35, 162, 8

    LISTBOX IDC5_LIST, 3, 45, 100, 110,
        LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT "Red:", IDC5_RSTATIC, 109, 45, 27, 8
    RTEXT "", IDC5_RVALUE, 138, 45, 27, 8
    LTEXT "Green:", IDC5_GSTATIC, 109, 45+8, 27, 8
    RTEXT "", IDC5_GVALUE, 138, 45+8, 27, 8
    LTEXT "Blue:", IDC5_BSTATIC, 109, 45+16, 27, 8
    RTEXT "", IDC5_BVALUE, 138, 45+16, 27, 8
    
    PUSHBUTTON "C&hange...", IDC5_CHANGE, 109, 135, 56, 14
    
END

/* Accelerators used: [aco] beiknpsx */
IDD_PANEL6 DIALOG DISCARDABLE  6, 30, 168, 163
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "MS Sans Serif"
 
BEGIN
    
    LTEXT "Handling of VT100 line drawing characters:",IDC2_VTSTATIC, 3, 3, 162, 8
    AUTORADIOBUTTON "Font has &XWindows encoding",
	IDC2_VTXWINDOWS, 3, 13, 162, 8, WS_GROUP
    AUTORADIOBUTTON "Use font in &both ANSI and OEM modes",
	IDC2_VTOEMANSI, 3, 23, 162, 8
    AUTORADIOBUTTON "Use font in O&EM mode only",
	IDC2_VTOEMONLY, 3, 33, 162, 8
    AUTORADIOBUTTON "&Poor man's line drawing (""+"", ""-"" and ""|"")",
	IDC2_VTPOORMAN, 3, 43, 162, 8
    
    LTEXT "Character set translation:", IDC6_XLATSTATIC, 3, 59, 162, 8
    AUTORADIOBUTTON "&None", IDC6_NOXLAT, 3, 69, 162, 8, WS_GROUP
    AUTORADIOBUTTON "&KOI8 / Win-1251", IDC6_KOI8WIN1251, 3, 79, 162, 8
    AUTORADIOBUTTON "&ISO-8859-2 / Win-1250", IDC6_88592WIN1250, 3, 89, 162, 8
    
    AUTOCHECKBOX "CAP&S LOCK acts as cyrillic switch", IDC6_CAPSLOCKCYR, 3, 105, 162, 8
    
END

/* Accelerators used: c */
IDD_LOGBOX DIALOG DISCARDABLE 100, 20, 160, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Event Log"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Close", IDOK, 58, 102, 44, 14
    LISTBOX IDN_LIST, 3, 3, 154, 95, LBS_HASSTRINGS | LBS_USETABSTOPS | WS_VSCROLL
END

/* No accelerators used */
IDD_LICENCEBOX DIALOG DISCARDABLE 50, 50, 226, 223
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "PuTTY Licence"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 98, 203, 44, 14

    LTEXT "Copyright \251 1997-2000 Simon Tatham", 1000, 10, 10, 206, 8

    LTEXT "Permission is hereby granted, free of charge, to any person", 1002, 10, 26, 206, 8
    LTEXT "obtaining a copy of this software and associated documentation", 1003, 10, 34, 206, 8
    LTEXT "files (the ""Software""), to deal in the Software without restriction,", 1004, 10, 42, 206, 8
    LTEXT "including without limitation the rights to use, copy, modify, merge,", 1005, 10, 50, 206, 8
    LTEXT "publish, distribute, sublicense, and/or sell copies of the Software,", 1006, 10, 58, 206, 8
    LTEXT "and to permit persons to whom the Software is furnished to do so,", 1007, 10, 66, 206, 8
    LTEXT "subject to the following conditions:", 1008, 10, 74, 206, 8

    LTEXT "The above copyright notice and this permission notice shall be", 1010, 10, 90, 206, 8
    LTEXT "included in all copies or substantial portions of the Software.", 1011, 10, 98, 206, 8

    LTEXT "THE SOFTWARE IS PROVIDED ""AS IS"", WITHOUT", 1013, 10, 114, 206, 8
    LTEXT "WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,", 1014, 10, 122, 206, 8
    LTEXT "INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF", 1015, 10, 130, 206, 8
    LTEXT "MERCHANTABILITY, FITNESS FOR A PARTICULAR", 1016, 10, 138, 206, 8
    LTEXT "PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL", 1017, 10, 146, 206, 8
    LTEXT "SIMON TATHAM BE LIABLE FOR ANY CLAIM, DAMAGES OR", 1018, 10, 154, 206, 8
    LTEXT "OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,", 1019, 10, 162, 206, 8
    LTEXT "TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN", 1020, 10, 170, 206, 8
    LTEXT "CONNECTION WITH THE SOFTWARE OR THE USE OR", 1021, 10, 178, 206, 8
    LTEXT "OTHER DEALINGS IN THE SOFTWARE.", 1022, 10, 186, 206, 8

END
